table {
		border: 3px solid pink;
}
td:hover {
		background-color: yellow;
		color: red;
}
tr, th {
		background-color: purple;
		color: orange;
}
tr, td {
		background-color: red;
		color: white;
}		

		